<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aprillia.css') }}"
    />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo">Bikes-Bay</a>
      <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('show_login') }}">Login</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contactUs') }}">Contact & Support</a></li>
        <li><a href="{{ url_for('dashboard') }}">Profile</a></li>
      </ul>
    </header>

    <section class="home" id="home">
      <div class="home-text">
        <h1>
          TAKE YOUR <br />
          SOULS TO DRIVE
        </h1>
        <div class="ShortContainer">
          <p class="ShortMoto">
            Engine <br />
            1099cc
          </p>
          <p class="ShortMoto">
            HorsePower <br />
            220hp
          </p>
          <p class="ShortMoto">
            Max Speed <br />
            305 kmph
          </p>
          <p class="ShortMoto">
            Mileage <br />
            12 to 15.4 km/l
          </p>
        </div>
        <a href="#bike-overview" class="home-btn">Explore now</a>
      </div>
    </section>

    <section class="bike-overview" id="bike-overview">
      <div>
        <img
          src="{{ url_for('static', filename='photos/aprilliaoverview.jpg') }}"
          alt=""
          width="800px"
          height="480px"
        />
      </div>
      <div class="overview-txt">
        <h1 class="overview-main">Overview</h1>
        <p class="overview-p">
          The Aprilia RSV4 is a flagship superbike from Italy, known for its
          racing DNA and thrilling performance. Powered by a 1,099cc V4 engine
          delivering about 217 horsepower, it can reach speeds near 300 km/h.
          The bike features advanced electronics like traction control, wheelie
          control, and multiple riding modes, ensuring both power and safety.
          Its lightweight frame, Brembo brakes, and aerodynamic design with
          winglets provide exceptional handling and stability. With its blend of
          speed, agility, and cutting-edge technology, the RSV4 is a top choice
          for riders who want a race-inspired superbike experience.
        </p>
      </div>
    </section>

    <section class="bike-exterior" id="bike-exterior">
      <div class="exterior-txt">
        <h1 class="exterior-main">Exterior</h1>
        <p class="exterior-p">
          The exterior of this pre-owned Aprilia RSV4 still carries its
          aggressive and aerodynamic design that makes it stand out on both road
          and track. The paint retains much of its sharp, glossy finish,
          highlighting the bike’s sporty character. However, as with most used
          superbikes, there are visible scratches on both the right and left
          sides, which come from regular use. These marks are cosmetic and do
          not affect the bike’s performance or handling. Despite these minor
          imperfections, the overall body panels remain in good condition,
          making this RSV4 a strong choice for riders who value performance with
          only light signs of wear.
        </p>
      </div>
      <div>
        <img
          class="exterior-img"
          src="{{ url_for('static', filename='photos/aprilliaExterior.jpg') }}"
          alt=""
          width="800px"
          height="480px"
        />
      </div>
    </section>

    <!-- features -->

    <section class="features">
      <div>
        <h1 class="features-heading">FEATURE HIGHLIGHTS</h1>
      </div>
      <div class="features-parent">
        <div class="features-left">
          <div>
            <h1 class="features1-main">Brakes & Wheels</h1>
            <p class="features1-txt">
              Braking System: Features a Brembo braking system with 330mm front
              discs and 220mm rear discs with Brembo Stylema callipers. Wheels &
              Tires: Equipped with alloy wheels and tubeless tires, typically
              17 inches in size
            </p>
          </div>
        </div>
        <div class="featuresright">
          <div>
            <h1 class="features1-main">Engine & Performance</h1>
            <p class="features1-txt">
              Engine: A 1,099cc V4 engine provides exceptional power and torque,
              making it a very powerful street-legal superbike. Power: Delivers
              up to 220 hp. Transmission: A six-speed gearbox with a
              bi-directional quickshifter is standard. Aerodynamics: The
              bodywork is designed to reduce turbulence and enhance
              stability at high speeds.
            </p>
          </div>
        </div>
      </div>
      <div class="features-parent">
        <div class="features-left">
          <div>
            <h1 class="features1-main">Chassis & Suspension</h1>
            <p class="features1-txt">
              Frame: A dual-beam aluminum frame provides a strong and
              lightweight foundation. Suspension: The Ohlins electronic
              suspension is available with a 43mm USD fork and monoshock,
              offering adjustable settings for track or road.
            </p>
          </div>
        </div>
        <div class="featuresright">
          <div>
            <h1 class="features1-main">Dimensions, & Capacity</h1>
            <p class="features1-txt">
              The motorcycle has a saddle height of 845 mm, a fuel tank capacity
              of 17.9–18.5 L (including a 4 L reserve), and a kerb weight of
              about 202 kg, depending on the trim.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="Contact" id="contact">
      <div class="footer">
        <div class="Main">
          <div class="list">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="{{ url_for('contactUs') }}">Contact Us</a></li>
              <li>
                <a href="{{ url_for('book_appointment_page') }}"
                  >Book Test Drive</a
                >
              </li>
            </ul>
          </div>

          <div class="list">
            <h4>Support</h4>
            <ul>
              <li><a href="">Shrutiuttekar12@gmail.com</a></li>
              <li><a href="">+91 7774831000</a></li>
            </ul>
          </div>

          <div class="list">
            <h4>Conatct Info</h4>
            <ul>
              <li><a href="">Dighi, parande nagar</a></li>
              <li><a href="">18.6166° N, 73.8724° E</a></li>
            </ul>
          </div>

          <div class="list">
            <h4>Connect</h4>
            <div class="social">
              <a href=""><i class="bx bxl-instagram"></i></a>
              <a href=""><i class="bx bxl-facebook-square"></i></a>
              <a href=""><i class="bx bxl-gmail"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='js/StandardAll.js') }}"></script>
  </body>
</html>
