<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Us | Bikes-Bay</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/ContactUs.css') }}"
    />
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">Bikes-Bay</a>
      <ul class="navbar">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('show_login') }}">Login</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contactUs') }}">Contact & Support</a></li>
        <li><a href="{{ url_for('dashboard') }}">Profile</a></li>
      </ul>
    </header>

    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+0098 9893 5647</div>
            <div class="text-two">+0096 3434 5678</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">supercars@gmail.com</div>
          </div>
        </div>

        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>
            If you have any queries, kindly fill in your details and our team
            will reach out!
          </p>

          <!-- Contact Form -->
          <form action="{{ url_for('contactUs') }}" method="POST">
            <div class="input-box">
              <input
                type="text"
                name="name"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="input-box">
              <input
                type="email"
                name="mail"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="input-box">
              <input
                type="text"
                name="mob"
                placeholder="Enter Contact Number"
                required
              />
            </div>
            <div class="input-box message-box">
              <textarea
                name="query"
                placeholder="Kindly submit your query"
                required
              ></textarea>
            </div>
            <div class="button">
              <input type="submit" value="Send Now" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
