<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Reset Password</div>
            <form method="POST">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input
                    type="password"
                    name="password"
                    placeholder="Enter new password"
                    required
                  />
                </div>

                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    required
                  />
                </div>

                <div class="button input-box">
                  <input type="submit" value="Reset Password" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- FontAwesome for icons -->
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
